section(uk-grid).uk-grid-collapse
    .uk-text-center(class="uk-width-1-5@m")
        .uk-padding
            img(src="{DIR}assets/images/arkonvertical.png",alt="ARKON DATA",class="uk-width-1-2@æl").uk-width-auto
    .uk-position-relative.cw(class="uk-width-4-5@m")
        img(src="{DIR}assets/images/group-5.png",alt="").uk-width-1-1
        .uk-position-top-left.uk-width-1-1
            canvas(width="19",height="13").uk-width-1-1
            .uk-position-center.uk-position-z-index.cw(uk-scrollspy="target: h2, span, button; cls: uk-animation-slide-bottom-medium; delay: 200")
                h2.uk-margin-remove.s-52.sm-30.lh100.cw MASTER, CONTROL
                .uk-grid-collapse(uk-grid)
                    .M.b.s-144.sm-80.lh75 &
                    .s-52.sm-30.lh100.fw-600
                        span.uk-display-inline-block(uk-scrollspy-class="uk-animation-slide-right-small") HARMONIZE DATA
                        .uk-text-right
                            button.uk-button.bcw.cblue.s15.M.rad17.btn-get(uk-scrollspy-class="uk-animation-slide-bottom-small") GET A DEMO



