section(uk-grid).uk-grid-collapse
    .uk-width-1-5.uk-text-center
        .uk-padding
            img(src="{DIR}assets/images/arkonvertical.png",alt="ARKON DATA").uk-width-1-2
    .uk-width-4-5.uk-position-relative.cw
        img(src="{DIR}assets/images/group-5.png",alt="").uk-width-1-1
        .uk-position-top-left.uk-width-1-1
            canvas(width="19",height="13").uk-width-1-1
            .uk-position-center.uk-position-z-index.cw
                h2.uk-margin-remove.s-52.lh100.cw MASTER, CONTROL
                .uk-grid-collapse(uk-grid)
                    .M.b.s-144.lh75 &
                    .s-52.lh100.fw-600 HARMONIZE DATA
                        .uk-text-right
                            button.uk-button.bcw.cblue.s15.M.rad17.btn-get GET A DEMO



