section.uk-position-relative
    .uk-cover-container
        canvas(width="1440",height="634").uk-width-1-1
    .uk-position-center-right.uk-width-2-5
        span.s-24 Are you really in control
        h3.uk-margin-remove.s-48.M.b.lh75 of your data?
        .uk-width-2-5
            p Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer. Tote bag 8-bit flannel dreamcatcher photo lo-fi vegan pop-up chia small batch DIY seitan asymmetrical viral. Disrupt salvia bespoke craft beer master cleanse. Butcher cornhole gentrify pop-up, raw denim viral literally.
        button.uk-button.bcblue.cw.s15.M.rad17.btn-get DIRCOVER MORE