section
    .uk-position-relative
        .uk-position-top-left.uk-width-3-5.uk-height-1-1.bcform
        .h-120
        .uk-flex.uk-position-relative.uk-position-z-index
            .uk-width-2-5
                .uk-child-width-expand(uk-grid)
                    div
                    .cw.uk-text-center.uk-width-2-3.uk-margin-auto
                        h4.lh100.s-48.cw Get a
                            br
                            b.M.s-83 demo

                        p.lh25p Tousled food truck polaroid, salvia bespoke small batch Pinterest Marfa. Fingerstache authentic craft beer, food truck Banksy Carles kale chips hoodie. Trust fund artisan master cleanse fingerstache post-ironic.

                        form(action="post",method="post.php").frm
                            input.uk-input.uk-form-width-larg(type="text",placeholder="Name")
                            input.uk-input.uk-form-width-larg(type="text",placeholder="Last name")
                            input.uk-input.uk-form-width-larg(type="text",placeholder="Company name")
                            input.uk-input.uk-form-width-larg(type="email",placeholder="E-mail")
                            button.uk-button.cblue.bcw.s15.M.rad17.btn-get.uk-width-1-1 TRY ARKON NOW

            .uk-width-3-5.pt-70
                .mb--120
                    img(src="{DIR}assets/images/mock.png",alt="Contact us")
    .h-120.bcb0
