doctype html
html(lang='es')
    head
        meta(charset="utf-8")

        title {title}

        meta(name='robots' content='noindex, nofollow')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        | {head}

        <!-- Google Tag Manager -->
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TXQFSDP');
        <!-- End Google Tag Manager -->

        <!-- UIkit CSS -->
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.10/dist/css/uikit.min.css")

        <!-- UIkit JS -->
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.16.10/dist/js/uikit.min.js")

        link(rel="stylesheet" href="{DIR}style.css")
    body(class="{body_class}")
        <!-- Google Tag Manager (noscript) -->
        noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXQFSDP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        |{body_open}
        .uk-container.SF.s-12
            .shw.uk-overflow-hidden
                .bgData.uk-position-relative.uk-position-z-index.shw
                    include tpl/banner.pug
                    include tpl/control.pug
                .uk-position-relative
                    include tpl/solution.pug
                .uk-position-relative
                    .uk-position-top-left.uk-height-1-1.uk-width-1-1(uk-parallax="opacity: 0,1,1; y: -80,0,0; x: 100,100,0; scale: 2,1,1; end: 50vh + 50%;")
                        .bcskew.uk-height-1-1.uk-width-1-1
                    .uk-position-relative.uk-position-z-index
                        include tpl/data.pug
                        include tpl/form.pug
            .bc07.cw.uk-text-center.uk-padding All Righs Reserver @ 2019 Arkon Data  |  More information:  info@arkondata.com

        |{footer}
