link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.10/dist/css/uikit.min.css")

.uk-section
    div(class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin-auto")
        .uk-alert-success.uk-alert
            p Data form sended! thanks
            a(href="/") Return to home